Cocos2dXML/Cocos2d.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:cc="http://Cocos2dXML"
	targetNamespace="http://Cocos2dXML">
	
<!-- TYPEDEFS -->
<simpleType name="event">
	<restriction base="string">
		<annotation>
			<appinfo>Cocos2dXMLEvent</appinfo>
		</annotation>
	</restriction>
</simpleType>

<simpleType name="eventListener">
	<restriction base="string">
		<annotation>
			<appinfo>Cocos2dXMLEventListener</appinfo>
		</annotation>
	</restriction>
</simpleType>

<simpleType name="filePath">
	<restriction base="string">
		<annotation>
			<appinfo>Cocos2dXMLFilePath</appinfo>
		</annotation>
	</restriction>
</simpleType>

<simpleType name="point">
	<restriction base="string">
		<annotation>
			<appinfo>cocos2d::CCPoint</appinfo>
		</annotation>
	</restriction>
</simpleType>

<simpleType name="color4">
	<restriction base="string">
		<annotation>
			<appinfo>Cocos2dXMLColor</appinfo>
		</annotation>
	</restriction>
</simpleType>

<simpleType name="color3">
	<restriction base="string">
		<annotation>
			<appinfo>cocos2d::ccColor3B</appinfo>
		</annotation>
	</restriction>
</simpleType>

<!-- ENUMS -->

<simpleType name="srcBlendFunc">
	<restriction base="string">
		<enumeration value="zero" define="GL_ZERO" />
		<enumeration value="one" define="GL_ONE" />
		<enumeration value="sourceColor" define="GL_SRC_COLOR" />
		<enumeration value="sourceMinusSourceColor" define="GL_ONE_MINUS_SRC_COLOR" />
		<enumeration value="destinationColor" define="GL_DST_COLOR" />
		<enumeration value="oneMinuesDestinationColor" define="GL_ONE_MINUS_DST_COLOR" />
		<enumeration value="sourceAlpha" define="GL_SRC_ALPHA" />
		<enumeration value="oneMinusSourceAlpha" define="GL_ONE_MINUS_SRC_ALPHA" />
		<enumeration value="destinationAlpha" define="GL_DST_ALPHA" />
		<enumeration value="oneMinusDestinationAlpha" define="GL_ONE_MINUS_DST_ALPHA" />
		<enumeration value="constantColor" define="GL_CONSTANT_COLOR" />
		<enumeration value="oneMinusConstantColor" define="GL_ONE_MINUS_CONSTANT_COLOR" />
		<enumeration value="constantAlpha" define="GL_CONSTANT_ALPHA" />
		<enumeration value="oneMinusConstantAlpha" define="GL_ONE_MINUS_CONSTANT_ALPHA" />
		<enumeration value="sourceAlphaSaturate" define="GL_SRC_ALPHA_SATURATE" />
	</restriction>
</simpleType>

<simpleType name="dstBlendFunc">
	<restriction base="string">
		<enumeration value="zero" define="GL_ZERO" />
		<enumeration value="one" define="GL_ONE" />
		<enumeration value="sourceColor" define="GL_SRC_COLOR" />
		<enumeration value="oneMinusSourceColor" define="GL_ONE_MINUS_SRC_COLOR" />
		<enumeration value="destinationColor" define="GL_DST_COLOR" />
		<enumeration value="oneMinusDestinationColor" define="GL_ONE_MINUS_DST_COLOR" />
		<enumeration value="sourceAlpha" define="GL_SRC_ALPHA" />
		<enumeration value="oneMinusSourceAlpha" define="GL_ONE_MINUS_SRC_ALPHA" />
		<enumeration value="destinationAlpha" define="GL_DST_ALPHA" />
		<enumeration value="oneMinusDestinationAlpha" define="GL_ONE_MINUS_DST_ALPHA" />
		<enumeration value="constantColor" define="GL_CONSTANT_COLOR" />
		<enumeration value="oneMinusConstantColor" define="GL_ONE_MINUS_CONSTANT_COLOR" />
		<enumeration value="constantAlpha" define="GL_CONSTANT_ALPHA" />
		<enumeration value="oneMinusConstantAlpha" define="GL_ONE_MINUS_CONSTANT_ALPHA" />
	</restriction>
</simpleType>

<simpleType name="ease">
	<restriction base="string">
		<enumeration value="in" />
		<enumeration value="out" />
		<enumeration value="inOut" />
		<enumeration value="eponentialIn" />
		<enumeration value="eponentialOut" />
		<enumeration value="eponentialInOut" />
		<enumeration value="sineIn" />
		<enumeration value="sineOut" />
		<enumeration value="sineInOut" />
		<enumeration value="elasticIn" />
		<enumeration value="elasticOut" />
		<enumeration value="elasticInOut" />
		<enumeration value="bounceIn" />
		<enumeration value="bounceOut" />
		<enumeration value="bounceInOut" />
		<enumeration value="backIn" />
		<enumeration value="backOut" />
		<enumeration value="backInOut" />
	</restriction>
</simpleType>

<simpleType name="horizontalTextAlign">
	<restriction base="string">
		<enumeration value="left" define="cocos2d::kCCTextAlignmentLeft" />
		<enumeration value="center" define="cocos2d::kCCTextAlignmentCenter" />
		<enumeration value="right" define="cocos2d::kCCTextAlignmentRight" />
	</restriction>
</simpleType>

<simpleType name="verticalTextAlign">
	<restriction base="string">
		<enumeration value="top" define="cocos2d::kCCVerticalTextAlignmentTop" />
		<enumeration value="center" define="cocos2d::kCCVerticalTextAlignmentCenter" />
		<enumeration value="bottom" define="cocos2d::kCCVerticalTextAlignmentBottom" />
	</restriction>
</simpleType>

<simpleType name="transition">
	<restriction base="string">
		<enumeration value="none" />
		<enumeration value="rotoZoom" />
		<enumeration value="jumpZoom" />
		<enumeration value="moveInL" />
		<enumeration value="moveInR" />
		<enumeration value="moveInT" />
		<enumeration value="moveInB" />
		<enumeration value="slideInL" />
		<enumeration value="slideInR" />
		<enumeration value="slideInT" />
		<enumeration value="slideInB" />
		<enumeration value="shrinkGrow" />
		<enumeration value="flipX" />
		<enumeration value="flipY" />
		<enumeration value="flipAngular" />
		<enumeration value="zoomFlipX" />
		<enumeration value="zoomFlipY" />
		<enumeration value="zoomFlipAngular" />
		<enumeration value="fade" />
		<enumeration value="crossFade" />
		<enumeration value="turnOffTiles" />
		<enumeration value="splitCols" />
		<enumeration value="splitRows" />
		<enumeration value="fadeTR" />
		<enumeration value="fadeBL" />
		<enumeration value="fadeUp" />
		<enumeration value="fadeDown" />
		<enumeration value="pageTurn" />
		<enumeration value="progressRadialCW" />
		<enumeration value="progressRadialCCW" />
		<enumeration value="progressHorizontal" />
		<enumeration value="progressVertical" />
		<enumeration value="progressInOut" />
		<enumeration value="progressOutIn" />
	</restriction>
</simpleType>

<!-- CLASSES -->
<element name="BaseObject" type="cc:BaseObject"/>
<complexType name="BaseObject">
	<attribute name="id" type="ID"/>
</complexType>

<element name="Director" type="cc:Director"/>
<complexType name="Director">
	<complexContent>
		<extension base="cc:BaseObject">
			<sequence>
				<element ref="cc:SceneReference" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="cc:Transition" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="displayStats" type="boolean" default="false" />
			<attribute name="fps" type="double" default="60.0" />
			<attribute name="color" type="cc:color3" default="#000000"/>
			<attribute name="pushScene" type="cc:eventListener"/>
			<attribute name="swapScene" type="cc:eventListener"/>
			<attribute name="popScene" type="cc:eventListener"/>
			<attribute name="popToRootScene" type="cc:eventListener"/>
		</extension>
	</complexContent>
</complexType>

<element name="SceneReference" type="cc:SceneReference"/>
<complexType name="SceneReference">
	<complexContent>
		<extension base="cc:BaseObject">
            <attribute name="path" type="cc:filePath" use="required"/>
		</extension>
	</complexContent>
</complexType>

<element name="Transition" type="cc:Transition"/>
<complexType name="Transition">
	<complexContent>
		<extension base="cc:BaseObject">
			<attribute name="type" type="cc:transition" default="none"/>
			<attribute name="duration" type="float" default="1"/>
		</extension>
	</complexContent>
</complexType>

<element name="Node" type="cc:Node"/>
<complexType name="Node">
	<complexContent>
		<extension base="cc:BaseObject">
			<sequence>
				<element ref="cc:Node" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="zOrder" type="int"/>
			<attribute name="scale" type="cc:point" default="1,1"/>
			<attribute name="position" type="cc:point" default="0,0"/>
			<attribute name="skew" type="cc:point" default="0,0"/>
			<attribute name="tag" type="int" default="0"/>
			<attribute name="anchorPoint" type="cc:point" default="0,0"/>
			<attribute name="size" type="cc:point" default="0,0"/>
			<attribute name="visible" type="boolean" default="true"/>
			<attribute name="rotation" type="float" default="0"/>
			<attribute name="ignoreAnchorPointForPosition" type="boolean" default="false"/>
			<attribute name="enabled" type="boolean" default="true"/>
			<attribute name="touchThrough" type="boolean" default="false"/>
			<attribute name="onTouchUp" type="cc:event" use="optional"/>
			<attribute name="onTouchMove" type="cc:event" use="optional"/>
			<attribute name="onTouchDown" type="cc:event" use="optional"/>
			<attribute name="onTouchCancel" type="cc:event" use="optional"/>
			<!-- shader program -->
		</extension>
	</complexContent>
</complexType>

<element name="Sprite" type="cc:Sprite"/>
<complexType name="Sprite">
	<complexContent>
		<extension base="cc:Node">
			<attribute name="color" type="cc:color4" default="#FFFFFFFF"/>
			<attribute name="texture" type="cc:filePath"/>
			<attribute name="flipX" type="boolean" default="false"/>
			<attribute name="flipY" type="boolean" default="false"/>
			<attribute name="srcBlend" type="cc:srcBlendFunc"/>
			<attribute name="dstBlend" type="cc:dstBlendFunc"/>
		</extension>
	</complexContent>
</complexType>

<element name="SpriteBatch" type="cc:SpriteBatch"/>
<complexType name="SpriteBatch">
	<complexContent>
		<extension base="cc:Node">
			<!-- TODO -->
		</extension>
	</complexContent>
</complexType>

<element name="BatchedSprite" type="cc:BatchedSprite"/>
<complexType name="BatchedSprite">
	<complexContent>
		<extension base="cc:Node">
			<attribute name="color" type="cc:color4" default="#FFFFFFFF"/>
			<attribute name="texture" type="string"/>
			<attribute name="flipX" type="boolean" default="false"/>
			<attribute name="flipY" type="boolean" default="false"/>
			<attribute name="srcBlend" type="cc:srcBlendFunc"/>
			<attribute name="dstBlend" type="cc:dstBlendFunc"/>
		</extension>
	</complexContent>
</complexType>

<element name="Scene" type="cc:Scene"/>
<complexType name="Scene">
	<complexContent>
		<extension base="cc:Node">
			<sequence>
				<element ref="cc:Action" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="cc:Script" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="onUpdate" type="cc:event"/>
		</extension>
	</complexContent>
</complexType>

<element name="ClippingNode" type="cc:ClippingNode"/>
<complexType name="ClippingNode">
	<complexContent>
		<extension base="cc:Node">
			<attribute name="alphaThreshold" type="float" default="0"/>
			<attribute name="inverted" type="boolean" default="false"/>
		</extension>
	</complexContent>
</complexType>

<element name="ParticleSystem" type="cc:ParticleSystem"/>
<complexType name="ParticleSystem">
	<complexContent>
		<extension base="cc:Node">
			<attribute name="plist" type="cc:filePath" use="required"/>
		</extension>
	</complexContent>
</complexType>

<element name="Action" type="cc:Action"/>
<complexType name="Action">
	<complexContent>
		<extension base="cc:BaseObject">
			<attribute name="target" type="IDREF" use="required"/>
			<attribute name="startListener" type="cc:eventListener"/>
			<attribute name="stopListener" type="cc:eventListener"/>
			<attribute name="tag" type="int"/>
		</extension>
	</complexContent>
</complexType>

<element name="FiniteAction" type="cc:FiniteAction"/>
<complexType name="FiniteAction">
	<complexContent>
		<extension base="cc:Action">
			<attribute name="duration" type="float" default="1"/>
		</extension>
	</complexContent>
</complexType>

<element name="RelativeAction" type="cc:RelativeAction"/>
<complexType name="RelativeAction">
	<complexContent>
		<extension base="cc:FiniteAction">
			<attribute name="relative" type="boolean" default="false" />
		</extension>
	</complexContent>
</complexType>

<element name="Sequence" type="cc:Sequence"/>
<complexType name="Sequence">
	<complexContent>
		<extension base="cc:FiniteAction">
			<sequence>
				<element ref="cc:FiniteAction" minOccurs="2" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="serial" type="boolean" default="true"/><!-- uses CCSpawn if not serial -->
		</extension>
	</complexContent>
</complexType>

<element name="Ease" type="cc:Ease"/>
<complexType name="Ease">
	<complexContent>
		<extension base="cc:FiniteAction">
			<sequence>
				<element ref="cc:FiniteAction" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="type" type="cc:ease" default="out" />
			<attribute name="rate" type="float" default="2" /><!-- only applies to types: in, out, inOut -->
		</extension>
	</complexContent>
</complexType>

<element name="Repeat" type="cc:Repeat"/>
<complexType name="Repeat">
	<complexContent>
		<extension base="cc:FiniteAction">
			<sequence>
				<element ref="cc:FiniteAction" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="repeats" type="int" default="2" /><!-- numbers that are <= 0 will repeat forever -->
		</extension>
	</complexContent>
</complexType>

<element name="Rotate" type="cc:Rotate"/>
<complexType name="Rotate">
	<complexContent>
		<extension base="cc:RelativeAction">
			<attribute name="value" type="float" default="0" />
		</extension>
	</complexContent>
</complexType>

<element name="Move" type="cc:Move"/>
<complexType name="Move">
	<complexContent>
		<extension base="cc:RelativeAction">
			<attribute name="value" type="cc:point" default="0,0" />
		</extension>
	</complexContent>
</complexType>

<element name="Skew" type="cc:Skew"/>
<complexType name="Skew">
	<complexContent>
		<extension base="cc:RelativeAction">
			<attribute name="value" type="cc:point" default="0,0" />
		</extension>
	</complexContent>
</complexType>

<element name="Scale" type="cc:Scale"/>
<complexType name="Scale">
	<complexContent>
		<extension base="cc:RelativeAction">
			<attribute name="value" type="cc:point" default="0,0" />
		</extension>
	</complexContent>
</complexType>

<element name="Tint" type="cc:Tint"/>
<complexType name="Tint">
	<complexContent>
		<extension base="cc:FiniteAction">
			<attribute name="value" type="cc:color3" default="#FFFFFF" />
		</extension>
	</complexContent>
</complexType>

<element name="Fade" type="cc:Fade"/>
<complexType name="Fade">
	<complexContent>
		<extension base="cc:FiniteAction">
			<attribute name="value" type="unsignedByte" default="255" />
		</extension>
	</complexContent>
</complexType>

<element name="Place" type="cc:Place"/>
<complexType name="Place">
	<complexContent>
		<extension base="cc:FiniteAction">
			<attribute name="value" type="cc:point" default="0,0" />
		</extension>
	</complexContent>
</complexType>

<element name="Delay" type="cc:Delay"/>
<complexType name="Delay">
	<complexContent>
		<extension base="cc:FiniteAction">
		</extension>
	</complexContent>
</complexType>

<element name="Animation" type="cc:Animation"/>
<complexType name="Animation">
	<complexContent>
		<extension base="cc:BaseObject">
			<attribute name="target" type="IDREF" use="optional"/>
			<attribute name="format" type="string" use="required"/>
			<attribute name="sequence" type="string" use="required"/>
			<attribute name="fps" type="float" default="12"/>
			<attribute name="loops" type="unsignedInt" default="0"/>
		</extension>
	</complexContent>
</complexType>

<element name="Text" type="cc:Text"/>
<complexType name="Text">
	<complexContent>
		<extension base="cc:Node">
			<attribute name="value" type="string" use="required"/>
			<attribute name="fontName" type="string" use="required"/>
			<attribute name="fontSize" type="float" use="required"/>
			<attribute name="horizontalAlign" type="cc:horizontalTextAlign" default="center"/>
			<attribute name="verticalAlign" type="cc:verticalTextAlign" default="center"/>
		</extension>
	</complexContent>
</complexType>

<element name="Script" type="cc:Script"/>
<complexType name="Script">
	<complexContent>
		<extension base="cc:BaseObject">
			<attribute name="path" type="cc:filePath" use="required"/>
			<attribute name="runListener" type="cc:eventListener"/>
		</extension>
	</complexContent>
</complexType>

<!--
TODO:
shaders
accelerometer
parallax?
Camera?
RenderTexture
MotionStreak
-->

</schema>
